<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ruby Server</title>
    <link rel="stylesheet" href="/assets/application.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Ruby Server</a>
        <% if current_user %>
          <form class="d-flex" action="/logout" method="post">
            <button class="btn btn-outline-secondary" type="submit">Log out</button>
          </form>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
